@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import '@fontsource-variable/lora';
@import '@fontsource-variable/outfit';
@import '@fontsource/kanit';

@theme {
    --font-*: initial;
    --color-brandLightGreen: #a3a030;
    --color-brandBrownGreen: #8a7c59;
    --color-brandBlack: #141617;
    --color-brandRed: #87272a;
    --color-brandRedHover: #691e21;
    --color-brandTan: #e4dacd;
    --color-brandTanHover: #c7bdb1;
    --color-brandBrown: #523932;
    --color-brandBrownHover: #5c3f36;
    --color-brandOffWhite: #fcf8f0;
    --color-brandGray: #8c8c8c;

    --font-display: "Lora", sans-serif;
    --font-body: "Outfit Variable", sans-serif;
    --font-header: "Kanit", sans-serif;

    --spacing-gutter: 6.0rem;
}

[class*="prose"] a {
    color: #8a7c59;
}

[class*="prose"] a:hover {
    text-decoration: underline;
}