@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import '@fontsource-variable/lora';
@import '@fontsource-variable/outfit';

@theme {
    --font-*: initial;
    --color-brandLightGreen: #a3a030;
    --color-brandBrownGreen: #8a7c59;
    --color-brandBlack: #141617;
    --color-brandRed: #87272a;
    --color-brandRedHover: #691e21;
    --color-brandTan: #e4dacd;
    --color-brandTanHover: #c7bdb1;
    --color-brandBrown: #523932;
    --color-brandBrownHover: #5c3f36;
    --color-brandOffWhite: #fcf8f0;

    --font-display: "Lora", sans-serif;
    --font-body: "Outfit Variable", sans-serif;
}